@use '../../styles/_variables.scss' as *;

.inputWrapper {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 1px solid $border-color;
    border-radius: $spacing-xs;
    font-size: $font-md;
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;

    transition: border 0.2s ease;
    &:focus {
      border-color: $primary-color;
      outline: none;
    }

    &.error {
      border-color: $danger-color;
    }
  }

  .errorText {
    color: $danger-color;
    font-size: $font-sm;
    margin-top: 0.25rem;
  }

  .toggle {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: $primary-color;
    cursor: pointer;
    font-weight: bold;
    font-size: $font-sm;
  }
}
