@use '../../styles/_variables.scss' as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: $white;
  gap: 1rem;
}

.searchContainer {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 2rem;
  width: 100%;

  .searchInput {
    min-width: 80%;
    height: $spacing-lg + $spacing-sm;
    padding: 0 1rem;
    font-size: 0.9rem;
    border: 1px solid $border-color;
    background-color: $background;
    border-radius: 8px 0 0 8px;

    &:focus {
      border-color: $primary-color;
      outline: none;
    }

    &::placeholder {
      color: $text;
    }
  }

  .searchBtn {
    height: $spacing-xl + $spacing-xs;
    min-width: $spacing-xl + $spacing-md;
    border-radius: 0 $spacing-sm $spacing-sm 0;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    cursor: pointer;

    svg {
      stroke: white;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-shrink: 0;

  .docsLink {
    color: #213f7d;
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
  }

  .bellIcon {
    cursor: pointer;
    color: #213f7d;
  }

  .avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
  }

  .username {
    font-size: 0.9rem;
    color: #213f7d;
  }

  .chevronIcon {
    cursor: pointer;
    color: #213f7d;
  }
}
@media (max-width: 768px) {
  .navbar {
    flex-wrap: nowrap;
  }

  .searchContainer {
    max-width: 200px;
  }

  .right {
    gap: 1rem;

    .bellIcon,
    .chevronIcon {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .docsLink {
    display: none;
  }
}
